.export-scale-container {
  display: flex;
  align-items: center;

  &.disabled > *:not(:first-child):not(:last-child) {
    opacity: 0.5;
    pointer-events: none;
  }

  & .scale-enabled-checkbox {
    margin: 0;
    margin-right: 2px;
    height: 22px;
    max-width: 22px;
  }

  & .scale-name-input {
    width: 100%;
  }

  & .scale-value-input {
    width: 60px;
    margin-inline: 2px;
  }

  & .delete-scale-button {
    width: 50px;
    padding-inline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-danger);

    &:disabled {
      color: lightgray;
      background-color: gray;
      cursor: not-allowed;
    }
  }
}

.add-export-setting-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  font-size: 14px;

  & .icon {
    font-size: 12px;
  }
}

.included-variables-list {
  max-height: 100px;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
  margin: 0;

  & li {
    position: relative;
    font-size: 14px;
    margin-left: 8px;

    --blockquote-radius: 10px;
    
    &:first-child {
      &::before {
        border-top-left-radius: var(--blockquote-radius);
        border-top-right-radius: var(--blockquote-radius);
      }
    }

    &:last-child {
      &::before {
        border-bottom-left-radius: var(--blockquote-radius);
        border-bottom-right-radius: var(--blockquote-radius);
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: -8px;
      top: 0;
      height: 100%;
      width: 3px;
      background-color: var(--accent-color);


    }
  }
}

.background-variant-setting {
  margin-block: 0 !important;
  justify-content: space-between;

  & label {
    font-size: 14px;
  }

  & input {
    max-width: 150px;
  }
}

.divider-label {
  &:not(:first-child) {
    margin-top: 20px !important;
  }

  margin-bottom: 8px;
  width: 100%;
  text-align: center;
  position: relative;
  /* z-index: -1; */

  & span {
    background-color: var(--background-color);
    padding-inline: 4px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: -1;
    background-color: rgb(255 255 255 / 0.25);
  }
}
