* {
  font-family: Arial, system-ui;
}

#tabs [data-tab-id]:not(:first-child) {
  display: none;
}

#tabs {
  height: calc(100% - 20px);
}

#tabs .tab {
  height: 100%;
  display: flex;
  flex-direction: column;

  button.danger {
    background-color: red;
    color: white;
  }

  button,
  select {
    height: 32px;
    border-radius: 4px;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }

  button {
    padding-inline: 40px;
  }

  select {
    padding-inline: 6px 40px;
  }
}

.tab-menu {
  width: 100%;
  height: 20px;
  border-bottom: 1px solid darkgrey;
  padding-inline: 10px;

  & button {
    border: 1px solid darkgrey;
    border-bottom: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}

#loading-overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 100;

  & svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    color: white;
  }
}
