* {
  font-family: Arial, system-ui;
}
:root {
  color-scheme: dark;
  --background-color: #121212;
  --accent-color: #7687C3;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #121212;
}

#tabs [data-tab-id]:not(:first-child) {
  display: none;
}

#tabs {
  height: calc(100% - 20px);
  padding-inline: 20px;

}

#tabs .tab {
  height: 100%;
  display: flex;
  flex-direction: column;
/* 
  button.danger {
    background-color: red;
    color: white;
  }

  input,
  button,
  select {
    height: 32px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: #f0f0f0;
    margin: 2px;

    &:hover {
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }

  button {
    padding-inline: 40px;
  }

  select {
    padding-inline: 6px 40px;
  } */

}



#loading-overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 100;

  & svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    color: white;
  }
}
