.tab-menu {
  width: 100%;
  height: 32px;
  background-color: var(--accent-color);
  /* border-bottom: 1px solid rgb(255 255 255 / 0.25); */
  padding-inline: 10px;
  padding-block: 10px 0px;
  display: flex;
  gap: 3px;
  overflow-x: scroll;
  position: relative;

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }

  & button {
    /* border: 1px solid darkgrey; */
    position: relative;
    border: none;
    border-bottom: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background: none;
    padding: 4px 12px;
    background-color: rgb(255 255 255 / 0.15);
    height: 100%;

    &.active {
      background-color: var(--background-color);
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }
    &:hover::after {
      cursor: pointer;
      background-color: rgb(255 255 255 / 0.35);
    }
  }
}
